/* RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* LAYOUT */
nav {
  background-color: #ADD8E5;
}
.container{
  width: 1024px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}






/* DEBUG */

.debug .container{
  border: 2px solid black;
  /* min-height: 1000px; */
  padding: 20px;
} 

.debug [class^='col']{
  border: 1px solid black;
}