/* RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: currentColor;
}

/* LAYOUT */

.container{
  width: 1024px;
  margin: auto;
  padding: 25px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

/* Header */
nav {
  background-color: #ADD8E5;
}

.navigator{
  justify-content: center;
}

.navigator .col{
  padding: 10px;
  background-color: #DAA420;
}

.navigator .col:nth-child(1){
  flex-grow: 1;
}

.navigator .col:nth-child(2){
  display: flex;
  justify-content:center ;
  flex-grow: 3;
  gap: 10px;
}

.navigator .col:nth-child(3){
  flex-grow: 1;
}

/* Blue back #02008B with pink box #EE81ED */

.bg-blue_navy{
  background-color: #02008B;
}

.bg-blue_navy .row{
  justify-content: center;
}

.row .bg-strong_pink{
  background-color: #EE81ED;
}

.row .box-strong_pink{
  min-height: 400px;
  flex-basis: 80%;
}

/* White back with double column #1D90FF #FFC0CA and Reverse */

.row .bg-cyan, .row .bg-salmon{
  min-height: 500px;
}

.row .bg-cyan{
  background-color: #1D90FF;
  flex-grow: 3;
}

.row .bg-salmon{
  background-color: #FFC0CA;
  flex-grow: 2;
}

/* Grey back #D3D3D3 with double colomn */

.bg-grey{
  background-color: #D3D3D3;
}

/* Grey back with huge green box #238A23 */

.row .bg-dark_green{
  background-color: #238A23;
  flex-grow: 1;
  min-height: 700px
}

/* Black back #23272A with four column #F08080 #1FB2AA */

.bg-black{
  background-color: #23272A;
}

.footer-top .col{
  min-height: 400px;
}

.bg-sea_green{
  background-color: #1FB2AA;
}

.box-sea_green{
  flex-grow: 1;
}

/* Black footer #23272A with nav #1FB2AA and elements pink #FFB6C1 */









/* DEBUG */

.debug .container{
  border: 2px solid black;
  /* min-height: 1000px; */
} 

.debug [class^='col']{
  border: 1px dashed black;
}
